<a href="https://colab.research.google.com/github/d-marttinss/Sklearn_Alura/blob/main/Introdu%C3%A7%C3%A3o_a_Machine_Learning_e_Classifica%C3%A7%C3%A3o_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd 

uri='https://gist.githubusercontent.com/guilhermesilveira/2d2efa37d66b6c84a722ea627a897ced/raw/10968b997d885cbded1c92938c7a9912ba41c615/tracking.csv'

dados = pd.read_csv(uri)

In [2]:
dados.head()

   home  how_it_works  contact  bought
0     1             1        0       0
1     1             1        0       0
2     1             1        0       0
3     1             1        0       0
4     1             1        0       0

In [4]:
mapa = {
    "home" : "inicio",
    "how_it_works" : "como_funciona",
    " contact" : "contato",
    "bought" : "comprou"
}

dados = dados.rename(columns=mapa)
dados.head()

   inicio  como_funciona  contact  comprou
0       1              1        0        0
1       1              1        0        0
2       1              1        0        0
3       1              1        0        0
4       1              1        0        0

In [5]:
x=dados[["inicio", "como_funciona", "contact"]]
y=dados["comprou"]

In [7]:
# Contagem dos dados
dados.shape

(99, 4)

In [8]:
treino_x = x[:75]
treino_y = y[:75]
teste_x = x[75:]
teste_y = y[75:]

print("Treinaremos com %d elementos e testaremos com %d elementos" % (len(treino_x), len(teste_x)))

Treinaremos com 75 elementos e testaremos com 24 elementos

In [10]:
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score

modelo = LinearSVC()
modelo.fit(treino_x, treino_y)
previsoes = modelo.predict(teste_x)

acuracia = accuracy_score(teste_y, previsoes) * 100
print("A acurácia foi %.2f%%" % acuracia)

A acurácia foi 95.83%

In [11]:
from sklearn.model_selection import train_test_split #importando o teste split onde ele vai dividir a base de dados para treinar
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score

SEED = 20 # Definição de qual número vai começar para deixar de ser ramdomicoe gerar acuracia sem padrão.

treino_x, teste_x, treino_y, teste_y = train_test_split(x, y,
                                                         random_state = SEED, test_size = 0.25, 
                                                         stratify = y) # Random_state é o metodo que definimo de onde os dados ramdomicos irá iniciar
                                                                       # Stratify é a equivalência entre o treino e o teste e nesse modelo usou a base -> y
print("Treinaremos com %d elementos e testaremos com %d elementos" % (len(treino_x), len(teste_x)))

modelo = LinearSVC()
modelo.fit(treino_x, treino_y)
previsoes = modelo.predict(teste_x)

acuracia = accuracy_score(teste_y, previsoes) * 100
print("A acurácia foi %.2f%%" % acuracia)

Treinaremos com 74 elementos e testaremos com 25 elementos
A acurácia foi 96.00%

In [14]:
treino_y.value_counts()

0    49
1    25
Name: comprou, dtype: int64

In [15]:
teste_y.value_counts()

0    17
1     8
Name: comprou, dtype: int64